
<div id="content-page">
    <div  id="form" class="row">
        <div class="small-12 medium-10 large-9 medium-centered large-centered columns">
            <div id="content-view">

              <div class="title-page form clearfix">
                  <div class="left">
                    <h6>Estás cotizando</h6>
                    <h3>Transporte para una <span>contenedor vacio</span></h3>
                  </div>
                  <a class="button radius right" href="#/cotizar">Volver</a>
              </div> <!-- {{! end title page}} -->

            <form name="cargaForm" novalidate ng-submit="freightPost()">

              <div class="row form-layout">
                  <div class="large-8 medium-12 columns">

                <div class="row step header">
                    <div class="large-12 columns">
                        <h5><span>1</span>Origen - Destino</h5>
                    </div>
                </div>

                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Origen</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>Región <span class="required">*</span></label>
                        <select
                          name="freightlocation_withdraw_region"
                          ng-model="formData.freightlocation_withdraw_region"
                          ng-change="withdrawCommune()"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_withdraw_region.$dirty && cargaForm.freightlocation_withdraw_region.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_withdraw_region.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Comuna <span class="required">*</span></label>
                          <select
                            name="freightlocation_withdraw_commune"
                            ng-model="formData.freightlocation_withdraw_commune"
                            ng-options="commune.id as commune.name for commune in returnCommuneA"
                            required>
                          </select>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_withdraw_commune.$dirty && cargaForm.freightlocation_withdraw_commune.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_withdraw_commune.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Nombre depósito <span class="required">*</span></label>
                        <input
                          type="text"
                          name="freightlocation_withdraw_deposit_name"
                          placeholder="Nombre o dirección"
                          maxlength="50"
                          ng-model="formData.freightlocation_withdraw_deposit_name"
                          ng-minlength=3
                          ng-maxlength=50
                          required>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_withdraw_deposit_name.$dirty && cargaForm.freightlocation_withdraw_deposit_name.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_withdraw_deposit_name.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="cargaForm.freightlocation_withdraw_deposit_name.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>
                </div>

                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Destino</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>Región <span class="required">*</span></label>
                        <select
                          name="freightlocation_return_region"
                          ng-model="formData.freightlocation_return_region"
                          ng-change="freightlocation_region()"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_return_region.$dirty && cargaForm.freightlocation_return_region.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_return_region.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Comuna <span class="required">*</span></label>
                          <select
                            name="freightlocation_return_commune"
                            ng-model="formData.freightlocation_return_commune"
                            ng-options="commune.id as commune.name for commune in returnCommuneB"
                            required>
                          </select>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_return_commune.$dirty && cargaForm.freightlocation_return_commune.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_return_commune.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Nombre deposito <span class="required">*</span></label>
                        <input
                          type="text"
                          name="freightlocation_return_deposit_name"
                          placeholder="Nombre o dirección"
                          maxlength="50"
                          ng-model="formData.freightlocation_return_deposit_name"
                          ng-minlength=3
                          ng-maxlength=50
                          required>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_return_deposit_name.$dirty && cargaForm.freightlocation_return_deposit_name.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_return_deposit_name.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="cargaForm.freightlocation_return_deposit_name.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>
                </div>

                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Fecha</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <label>Desde <span class="required">*</span></label>
                        <input
                          class="datepicker-input"
                          type="text"
                          name="freightlocation_withdraw_from_date_day"
                          placeholder=""
                          ng-model="freightlocation_withdraw_from_date_day"
                          required>
                        <div class="error-container" ng-show="(cargaForm.freightlocation_withdraw_from_date_day.$dirty && cargaForm.freightlocation_withdraw_from_date_day.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.freightlocation_withdraw_from_date_day.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-3 medium-3 columns">
                            <label>Hasta <span class="required">*</span></label>
                            <input
                              class="datepicker-input"
                              type="text"
                              name="freightlocation_return_to_date_day"
                              placeholder=""
                              ng-model="freightlocation_return_to_date_day"
                              required>
                            <div class="error-container" ng-show="(cargaForm.freightlocation_return_to_date_day.$dirty && cargaForm.freightlocation_return_to_date_day.$invalid) || cargaForm.submitted">
                              <small class="error" ng-show="cargaForm.freightlocation_return_to_date_day.$error.required">Campo obligatorio</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-6 medium-6 columns"></div>
                </div>

                <!-- PARTE CARGA -->
                <div class="row step header">
                    <div class="large-12 columns">
                        <h5><span>2</span>Descripción de carga</h5>
                    </div>
                </div>

                <div class="carga-box">
                    <fieldset>
                        <legend>Carga número 1</legend>

                        <div class="row">
                            <div class="large-4 medium-4 columns">
                                <label>Tipo de Contenedor <span class="required">*</span></label>
                                <select
                                  name="tipo_contenedor"
                                  ng-model="formData.freightdetail_0_container_type"
                                  ng-options="containertype.id as containertype.name for containertype in returncContainerType"
                                  required>
                                </select>
                                <div class="error-container" ng-show="(cargaForm.tipo_contenedor.$dirty && cargaForm.tipo_contenedor.$invalid) || cargaForm.submitted">
                                  <small class="error" ng-show="cargaForm.tipo_contenedor.$error.required">Campo obligatorio</small>
                                </div>
                            </div>
                            <div class="large-2 medium-2 columns">
                                <label>Unidades <span class="required">*</span></label>
                                <input class="" name="unidades" type="text" maxlength="50" ng-model="formData.freightdetail_0_units" placeholder="" ng-minlength=1 ng-maxlength=5 required>
                                <div class="error-container" ng-show="(cargaForm.unidades.$dirty && cargaForm.unidades.$invalid) || cargaForm.submitted">
                                  <small class="error" ng-show="cargaForm.unidades.$error.required">Campo obligatorio</small>
                                </div>
                            </div>
                            <div class="large-6 medium-6 columns">
                                <label>Descripción de la carga <span class="required">*</span></label>
                                <input type="text" name="descripcion_carga" maxlength="100" ng-model="formData.freightdetail_0_description" placeholder="¿Qué estás transportando?" ng-maxlength=100 required>
                                <div class="error-contcondicionesainer" ng-show="(cargaForm.descripcion_carga.$dirty && cargaForm.descripcion_carga.$invalid) || cargaForm.submitted">
                                  <small class="error" ng-show="cargaForm.descripcion_carga.$error.required">Campo obligatorio</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- end caga box -->

                <div class="carga-box2 none">
                    <fieldset>
                        <legend>Carga número 2</legend>

                        <div class="row">
                            <div class="large-4 medium-4 columns">
                                <label>Tipo de Contenedor <span class="required">*</span></label>
                                <select
                                  name="tipo_contenedor_1"
                                  ng-model="formData.freightdetail_1_container_type"
                                  ng-options="containertype.id as containertype.name for containertype in returncContainerType"
                                  >
                                </select>
                            </div>
                            <div class="large-2 medium-2 columns">
                                <label>Unidades <span class="required">*</span></label>
                                <input class="" name="unidades_1" type="text" maxlength="50" ng-model="formData.freightdetail_1_units" placeholder="" ng-minlength=1 ng-maxlength=5 >
                            </div>
                            <div class="large-6 medium-6 columns">
                                <label>Descripción de la carga <span class="required">*</span></label>
                                <input type="text" name="descripcion_carga_1" maxlength="100" ng-model="formData.freightdetail_1_description" placeholder="¿Que estas transportando?" ng-maxlength=100 >
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- end caga box -->

                <div class="carga-box3 none">
                    <fieldset>
                        <legend>Carga número 3</legend>

                        <div class="row">
                            <div class="large-4 medium-4 columns">
                                <label>Tipo de Contenedor <span class="required">*</span></label>
                                <select
                                  name="tipo_contenedor_2"
                                  ng-model="formData.freightdetail_2_container_type"
                                  ng-options="containertype.id as containertype.name for containertype in returncContainerType"
                                  >
                                </select>
                            </div>
                            <div class="large-2 medium-2 columns">
                                <label>Unidades <span class="required">*</span></label>
                                <input class="" name="unidades_2" type="text" maxlength="50" ng-model="formData.freightdetail_2_units" placeholder="" ng-minlength=1 ng-maxlength=5 >
                            </div>
                            <div class="large-6 medium-6 columns">
                                <label>Descripción de la carga <span class="required">*</span></label>
                                <input type="text" name="descripcion_carga_2" maxlength="100" ng-model="formData.freightdetail_2_description" placeholder="¿Que estas transportando?" ng-maxlength=100 >
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- end caga box -->

                <div class="row">
                    <div class="large-12 columns">
                        <p class="add-new-carga">Agregar otra carga</p>
                    </div>
                </div>

                <!-- REQUERIMIENTOS -->
                <div class="row step header">
                    <div class="large-12 columns">
                        <h5><span>3</span>Requerimientos del servicio</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <label>Seguro de carga <span class="small-legend">- UF</span></label>
                        <input class="" type="text" name="" ng-model="formData.insurance" placeholder="">
                    </div>
                    <div class="large-3 medium-3 columns">
                        <label>Tipo de camión</label>
                        <select
                          ng-model="formData.truck_type"
                          ng-options="trucktype.id as trucktype.name for trucktype in returnTruckType">
                        </select>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <label>Equipamiento</label>
                        <select
                          ng-model="formData.equipment"
                          ng-options="equipment.id as equipment.name for equipment in returnEquipment">
                        </select>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <label>Otros</label>
                        <input type="text" name="" ng-model="formData.other" placeholder="">
                    </div>
                </div>

                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Condiciones y forma de pago del servicio</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>Forma de pago <span class="required">*</span></label>
                        <select name="tiempoPago" class="" ng-model="tiempoPago" required>
                          <option value="Al Contado">Al Contado</option>
                          <option value="Menos de 15 días">Menos de 15 días</option>
                          <option value="15 días">15 días</option>
                          <option value="30 días">30 días</option>
                          <option value="45 días">45 días</option>
                          <option value="60 días">60 días</option>
                          <option value="90 días">90 días</option>
                          <option value="Más de 90 días">Más de 90 días</option>
                        </select>
                        <div class="error-container" ng-show="(cargaForm.tiempoPago.$dirty && cargaForm.tiempoPago.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.tiempoPago.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                      <label>Desde <span class="required">*</span></label>
                      <select name="pagoDesde" class="" ng-model="pagoDesde" required>
                        <option value="Emisión de factura">Emisión de factura</option>
                        <option value="Despacho de factura">Despacho de factura</option>
                        <option value="Recepción de factura">Recepción de factura</option>
                        <option value="Orden de servicio">Orden de servicio</option>
                        <option value="Sin especificar">Sin especificar</option>
                      </select>
                        <div class="error-container" ng-show="(cargaForm.pagoDesde.$dirty && cargaForm.pagoDesde.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.pagoDesde.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Información adicional</label>
                        <input type="text" name="" ng-model="formData.comments" placeholder="Peoneta, enrcarpado, etc…">
                    </div>
                </div>

                <!-- DATOS PERSONALES -->
                <div>
                  <div class="row step header">
                      <div class="large-12 columns">
                          <h5><span>4</span>Información de contacto</h5>
                      </div>
                  </div>
                  <div class="row">
                      <div class="large-10 medium-10 columns">
                          <label>Correo electrónico <span class="required">*</span></label>
                          <input type="email" name="email" ng-model="formData.contact_email" ng-change="email()" placeholder="" style="width: 50%;" required/>

                          <div class="status-mail nothing">
                            <div class="row">
                                <div class="large-2 medium-2 columns">
                                  <img src="images/mail.png" alt="Correo no existente">
                                </div>
                                <div class="large-10 medium-10 columns">
                                    <h5>Ingresa tu correo</h5>
                                    <p>Si has trabajado antes con nosotros ingresa tu correo electrónico, de lo contrario agrega tus datos de usuario.</p>
                                </div>
                            </div>
                          </div>

                          <div class="status-mail valid none">
                            <div class="row">
                                <div class="large-2 medium-2 columns">
                                  <img src="images/valid.png" alt="Correo no existente">
                                </div>
                                <div class="large-10 medium-10 columns">
                                  <h5>Felicidades!</h5>
                                  <p>Tu usuario ya se encuentra en el sistema ya puedes enviar tu publicación de carga.</p>
                                </div>
                            </div>
                          </div>

                          <div class="status-mail invalid none">
                            <div class="row">
                                <div class="large-2 medium-2 columns">
                                  <img src="images/invalid.png" alt="Listo">
                                </div>
                                <div class="large-10 medium-10 columns">
                                  <h5>Lo sentimos</h5>
                                  <p>Tu usuario no existe en nuestra base de datos porfavor agrega tus datos de usuario a continuación.</p>
                                </div>
                            </div>
                          </div>

                          <div class="error-container" ng-show="(cargaForm.email.$dirty && cargaForm.email.$invalid) || cargaForm.submitted">
                              <span class="error" ng-show="cargaForm.email.$error.required">Campo obligatorio</span>
                              <span class="error" ng-show="cargaForm.email.$error.email">El correo ingresado no es valido</span>
                          </div>
                          <span class="error none status_user">El usuario no existe, favor agregar datos de usuario</span>
                      </div>
                      <div class="large-2 columns"></div>
                  </div>
                </div>


                <div id="add-person" class="">

                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Datos personales</h5>
                    </div>
                </div>

                  <div class="row">
                      <div class="large-4 medium-4 columns">
                          <label>Nombre <span class="required" ng-show="isUserValid()">*</span></label>
                          <input type="text" name="nombre_user" maxlength="50" placeholder="{{infoUser.first_name}}" ng-model="formData.contact_first_name" ng-maxlength=50 ng-required="isUserValid()" ng-disabled="userDisable()">
                          <div class="error-container" ng-show="(cargaForm.nombre_user.$dirty && cargaForm.nombre_user.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.nombre_user.$error.required">Campo obligatorio</small>
                          </div>
                      </div>
                      <div class="large-4 medium-4 columns">
                          <label>Apellido <span class="required" ng-show="isUserValid()">*</span></label>
                          <input type="text" name="apellido_user" maxlength="50" placeholder="{{infoUser.last_name}}" ng-model="formData.contact_last_name"  ng-maxlength=50 ng-required="isUserValid()" ng-disabled="userDisable()">
                          <div class="error-container" ng-show="(cargaForm.apellido_user.$dirty && cargaForm.apellido_user.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.apellido_user.$error.required">Campo obligatorio</small>
                          </div>
                      </div>
                      <div class="large-4 medium-4 columns">
                          <label>Cargo que desempeña</label>
                          <input type="text" maxlength="50" placeholder="{{infoUser.position}}" ng-model="formData.userdirectory_position" ng-maxlength=50 ng-disabled="userDisable()">
                      </div>
                  </div>

                  <div class="row">
                      <div class="large-5 medium-5 columns compact">
                          <label>Teléfono fijo <span class="required" ng-show="isUserValid()">*</span></label>
                          <select ng-model="userPhonePrefix" name="phone_user_prefix" ng-required="isUserValid()" ng-disabled="userDisable()">
                            <option value="02">02</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="45">45</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="55">55</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="61">61</option>
                            <option value="63">63</option>
                            <option value="64">64</option>
                            <option value="65">65</option>
                            <option value="67">67</option>
                            <option value="71">71</option>
                            <option value="72">72</option>
                            <option value="73">73</option>
                            <option value="75">75</option>
                          </select>
                          <input type="text" name="phone_user" placeholder="{{infoUser.phone}}" ng-model="userPhoneNumber" maxlength="8" minlength="6" ng-maxlength=8 ng-minlength=6 ng-required="isUserValid()" ng-disabled="userDisable()">
                          <div class="error-container" ng-show="(cargaForm.phone_user_prefix.$dirty && cargaForm.phone_user_prefix.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.phone_user_prefix.$error.required">Codigo de área obligatorio</small>
                          </div>
                          <div class="error-container" ng-show="(cargaForm.phone_user.$dirty && cargaForm.phone_user.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.phone_user.$error.required">Teléfono obligatorio</small>
                          </div>
                      </div>
                      <div class="large-5 medium-5 columns compact">
                          <label>Teléfono celular <span class="required" ng-show="isUserValid()">*</span></label>
                          <select ng-model="userMobilePrefix" name="cel_user_prefix" ng-required="isUserValid()" ng-disabled="userDisable()">
                            <option value="09">09</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                          </select>
                          <input type="text" name="cel_user_number" placeholder="{{infoUser.mobile}}" ng-model="userMobileNumber" maxlength="8" minlength="6" ng-maxlength=8 ng-minlength=6 ng-required="isUserValid()" ng-disabled="userDisable()">
                          <div class="error-container" ng-show="(cargaForm.cel_user_prefix.$dirty && cargaForm.cel_user_prefix.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.cel_user_prefix.$error.required">Codigo de área obligatorio</small>
                          </div>
                          <div class="error-container" ng-show="(cargaForm.cel_user_number.$dirty && cargaForm.cel_user_number.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.cel_user_number.$error.required">Teléfono obligatorio</small>
                          </div>
                      </div>
                      <div class="large-2 medium-2 columns"></div>
                  </div>
                  <br>
                <!-- DATOS EMPRESA -->
                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Datos empresa</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>Nombre empresa <span class="required" ng-show="isUserValid()">*</span></label>
                        <input class="" type="text" name="nombre_empresa" maxlength="100" placeholder="{{infoUser.company_name}}" ng-model="formData.company_name" ng-maxlength=100 ng-required="isUserValid()" ng-disabled="userDisable()">
                          <div class="error-container" ng-show="(cargaForm.nombre_empresa.$dirty && cargaForm.nombre_empresa.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.nombre_empresa.$error.required">Campo obligatorio</small>
                          </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Razón social <span class="required" ng-show="isUserValid()">*</span></label>
                        <input type="text" name="razon_social" maxlength="50" placeholder="{{infoUser.company_business_name}}" ng-model="formData.company_business_name" ng-maxlength=50 ng-required="isUserValid()" ng-disabled="userDisable()">
                          <div class="error-container" ng-show="(cargaForm.razon_social.$dirty && cargaForm.razon_social.$invalid) || cargaForm.submitted">
                            <small class="error" ng-show="cargaForm.razon_social.$error.required">Campo obligatorio</small>
                          </div>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Rut <span class="required" ng-show="isUserValid()">*</span></label>
                        <rut-input
                          name="rut_number"
                          maxlength="10"
                          placeholder="{{infoUser.company_business_number}}"
                          ng-model="formData.company_business_number"
                          ng-required="isUserValid()"
                          ng-disabled="userDisable()"
                          />
                        <div class="error-container" ng-show="(cargaForm.rut_number.$dirty && cargaForm.rut_number.$invalid) || cargaForm.submitted">
                          <small class="error" ng-show="cargaForm.rut_number.$error.required">Falta rut</small>
                        </div>
                    </div>
                </div>

                <div class="row step">
                    <div class="large-12 columns">
                        <h5 class="subhearder">Motivo de la publicación</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="checkbox" id="2" ng-model="otherOne" ng-true-value="Busco transporte por temporada"> <label for="2">Busco transporte por temporada</label><br />
                        <input type="checkbox" id="3" ng-model="otherTwo" ng-true-value="Busco proveedores con los que trabajar"> <label for="3">Busco proveedores con los que trabajar</label><br />
                        <input type="checkbox" id="4" ng-model="otherThree" ng-true-value="Busco conocer tarifas de mercado"> <label for="4">Busco conocer tarifas de mercado</label><br />
                    </div>
                </div>

                </div> <!-- end add-person -->

                <br>
                <button class="button success radius large-12">
                    Enviar publicación de carga
                </button>
                <div>
                  <small class="error form-status none" >Lo sentimos, encontramos errores en tu publicación, vuelve a revisar los campos obligatorios.</small>
                </div>

              </form> <!-- End  freighPost -->

                  </div> <!-- {{!end form content}} -->
                  <div class="large-4 columns">
                      <div class="why sidebar">
                          <h5>Beneficios de cotizar</h5>
                          <ul>
                              <li><i class="fi-check"></i>Conoce nuevos proveedores de transporte y compara las tarifas del mercado.</li>
                              <li><i class="fi-check"></i>Ahorra tiempo buscando transporte disponible. ¡Nosotros lo hacemos por ti!</li>
                              <li><i class="fi-check"></i>Accede a una red de proveedores confiables que han sido visitados y verificados por nuestro equipo.</li>
                              <li><i class="fi-check"></i>Recibe asesoría especializada en logística, requerimientos legales y todo tipo de dudas.</li>
                          </ul>
                      </div>
                  </div> <!-- {{! end why}} -->
              </div> <!-- {{! end form-layout}} -->

            </div><!-- {{! end #content-view}} -->
        </div> <!-- {{! end centered}} -->
    </div> <!-- {{! end #form}} -->
</div> <!-- {{! end content page }} -->

<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
<script src="scripts/form.js"></script>

