Modelos de Destino
  1.- freightlocation_withdraw = Origen contenedor // Deposito
  2.- freightwaypoint_origin = Oirgen Carga
  3.- freightwaypoint_destination = Destino carga
  4.- freightlocation_return = Destino Contenedor // Deposito

Modelos de carga
  1.- freightdetail = Detalle de la carga

Detalle de empresa
  1.- contact = Datos usuario
  2.- userdirectory = Datos de usuario
  3.- company = Datos compañia


                <!-- Origen Contenedor // deposito -->
                <div class="row">
                    <div class="large-4 columns">
                        <label>Region</label>
                        <select
                          name="withdraw_region"
                          ng-model="withdrawRegion"
                          ng-change="withdrawCommune()"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(impo_form.withdraw_commune.$dirty && impo_form.withdraw_commune.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.withdraw_commune.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label>Comuna</label>
                          <select
                            name="withdraw_commune"
                            ng-model="formData.freightlocation_withdraw_commune"
                            ng-options="commune.id as commune.name for commune in withdraw_commune"
                            required>
                          </select>
                        <div class="error-container" ng-show="(impo_form.withdraw_commune.$dirty && impo_form.withdraw_commune.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.withdraw_commune.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label>Nombre deposito</label>
                        <input
                          type="text"
                          name="withdraw_deposit"
                          placeholder="Nombre o dirección"
                          maxlength="50"
                          ng-model="formData.freightlocation_withdraw_deposit_name"
                          ng-minlength=3
                          ng-maxlength=50
                          required>
                        <div class="error-container" ng-show="(impo_form.withdraw_deposit.$dirty && impo_form.withdraw_deposit.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.withdraw_deposit.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="impo_form.withdraw_deposit.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>
                </div>
                <!-- #end Origen Contenedor vacio #end -->



                <!-- Oirgen Carga // Planta -->
                  <div class="row">
                    <div class="large-4 columns">
                         <label>Region</label>
                        <select
                          name="freightwaypoint_origin_region"
                          ng-model="formData.freightwaypoint_origin_region"
                          ng-change="withdrawCommune()"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_region.$dirty && impo_form.freightwaypoint_origin_region.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_region.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label>Comuna</label>
                          <select
                            name="withdraw_commune"
                            ng-model="formData.freightlocation_withdraw_commune"
                            ng-options="commune.id as commune.name for commune in withdraw_commune"
                            required>
                            </select>
                          <div class="error-container" ng-show="(impo_form.withdraw_commune.$dirty && impo_form.withdraw_commune.$invalid) || impo_form.submitted">
                            <small class="error" ng-show="impo_form.withdraw_commune.$error.required">Campo obligatorio</small>
                          </div>
                    </div>
                    <div class="large-2 columns">
                        <label>Fecha</label>
                        <input
                          class="datepicker-input"
                          type="text"
                          name="freightwaypoint_origin_date_day"
                          placeholder=""
                          ng-model="freightwaypoint_origin_date_day"
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_date_day.$dirty && impo_form.freightwaypoint_origin_date_day.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_date_day.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                        <label>Hora</label>
                        <select name="freightwaypoint_origin_date_hour" ng-model="freightwaypoint_origin_date_hour" required>
                          <option value="01:00">01:00</option>
                          <option value="02:00">02:00</option>
                          <option value="03:00">03:00</option>
                          <option value="04:00">04:00</option>
                          <option value="05:00">05:00</option>
                          <option value="06:00">06:00</option>
                          <option value="07:00">07:00</option>
                          <option value="08:00">08:00</option>
                          <option value="09:00">09:00</option>
                          <option value="10:00">10:00</option>
                          <option value="11:00">11:00</option>
                          <option value="12:00">12:00</option>
                          <option value="13:00">13:00</option>
                          <option value="14:00">14:00</option>
                          <option value="15:00">15:00</option>
                          <option value="16:00">16:00</option>
                          <option value="17:00">17:00</option>
                          <option value="18:00">18:00</option>
                          <option value="19:00">18:00</option>
                          <option value="20:00">20:00</option>
                          <option value="21:00">21:00</option>
                          <option value="22:00">22:00</option>
                          <option value="23:00">23:00</option>
                          <option value="24:00">24:00</option>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_date_hour.$dirty && impo_form.freightwaypoint_origin_date_hour.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_date_hour.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label>Quien carga</label>
                        <select
                          name="freightwaypoint_origin_load_unload_time"
                          ng-model="formData.freightwaypoint_origin_load_unload_time"
                          required>
                          <option value="Transportista" selected="selected">Transportista</option>
                          <option value="Cargador">Cargador</option>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_load_unload_time.$dirty && impo_form.freightwaypoint_origin_load_unload_time.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_load_unload_time.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <label>Tiempo estimado de carga</label>
                        <select name="freightwaypoint_origin_load_unload_time" ng-model="formData.freightwaypoint_origin_load_unload_time" style="width: 40%;" required>
                          <option value="1 hora">1 hora</option>
                          <option value="2 horas">2 horas</option>
                          <option value="3 horas">3 horas</option>
                          <option value="4 horas">4 horas</option>
                          <option value="5 horas">5 horas</option>
                          <option value="mas de 6 horas">mas de 6 horas</option>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_load_unload_time.$dirty && impo_form.freightwaypoint_origin_load_unload_time.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_load_unload_time.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                    </div>
                </div>
                <!-- #end Oirgen Carga // Planta #end -->



                <!-- Origen Carga // Puerto -->
                <div class="row">
                    <div class="large-4 columns">
                        <label>Region</label>
                        <select
                          name="freightwaypoint_origin_region"
                          ng-model="formData.freightwaypoint_origin_region"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_region.$dirty && impo_form.freightwaypoint_origin_region.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_region.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                        <label>Puerto</label>
                        <input
                          type="text"
                          name="freightwaypoint_origin_origin_destination_port"
                          placeholder=""
                          maxlength="50"
                          ng-model="formData.freightwaypoint_origin_origin_destination_port"
                          ng-minlength="3"
                          ng-maxlength="50"
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_origin_destination_port.$dirty && impo_form.freightwaypoint_origin_origin_destination_port.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_origin_destination_port.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_origin_destination_port.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>

                    <div class="large-4 columns">
                        <label>nombre nave</label>
                        <input
                          type="text"
                          name="freightwaypoint_origin_ship_name"
                          placeholder=""
                          maxlength="50"
                          ng-model="formData.freightwaypoint_origin_ship_name"
                          ng-minlength="3"
                          ng-maxlength="50"
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_ship_name.$dirty && impo_form.freightwaypoint_origin_ship_name.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_ship_name.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_ship_name.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                        <label>Fecha</label>
                        <input
                          class="datepicker-input"
                          name="freightwaypoint_origin_from_date_day"
                          type="text"
                          ng-model="freightwaypoint_origin_date_day"
                          placeholder=""
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_from_date_day.$dirty && impo_form.freightwaypoint_origin_from_date_day.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_from_date_day.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                </div>
                <!-- #end Oirgen Carga // Puerto #end -->



                <!-- Destino Carga // Planta -->
                <!-- #end Destino Carga // Planta #end -->



                <!-- Destino Carga  // Puerto-->
                <div class="row">
                    <div class="large-4 columns">
                        <label>Region</label>
                        <select
                          name="freightwaypoint_destination_region"
                          ng-model="formData.freightwaypoint_destination_region"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_destination_region.$dirty && impo_form.freightwaypoint_destination_region.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_destination_region.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                        <label>Puerto</label>
                        <input
                          type="text"
                          name="freightwaypoint_destination_origin_destination_port"
                          placeholder=""
                          maxlength="50"
                          ng-model="formData.freightwaypoint_destination_origin_destination_port"
                          ng-minlength="3"
                          ng-maxlength="50"
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_destination_origin_destination_port.$dirty && impo_form.freightwaypoint_destination_origin_destination_port.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_destination_origin_destination_port.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="impo_form.freightwaypoint_destination_origin_destination_port.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>

                    <div class="large-4 columns">
                        <label>nombre nave</label>
                        <input
                          type="text"
                          name="freightwaypoint_destination_ship_name"
                          placeholder=""
                          maxlength="50"
                          ng-model="formData.freightwaypoint_destination_ship_name"
                          ng-minlength="3"
                          ng-maxlength="50"
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_destination_ship_name.$dirty && impo_form.freightwaypoint_destination_ship_name.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_destination_ship_name.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="impo_form.freightwaypoint_destination_ship_name.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                        <label>Fecha</label>
                        <input
                          class="datepicker-input"
                          name="freightwaypoint_destination_from_date_day"
                          type="text"
                          ng-model="freightwaypoint_destination_from_date_day"
                          placeholder=""
                          required>
                        <div class="error-container" ng-show="(impo_form.freightwaypoint_origin_from_date_day.$dirty && impo_form.freightwaypoint_origin_from_date_day.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightwaypoint_origin_from_date_day.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                </div>
                <!-- #end Destino Carga // Puerto #end -->



                <!-- Destino Contenedor // deposito -->
                <div class="row">
                    <div class="large-4 columns">
                        <label>Region</label>
                        <select
                          name="freightlocation_return_region"
                          ng-model="freightlocationRegion"
                          ng-change="freightlocationRegion()"
                          ng-options="region.id as region.name for region in selectRegion"
                          required>
                        </select>
                        <div class="error-container" ng-show="(impo_form.freightlocation_return_region.$dirty && impo_form.freightlocation_return_region.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightlocation_return_region.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label>Comuna</label>
                          <select
                            name="freightlocation_return_commune"
                            ng-model="formData.freightlocation_return_commune"
                            ng-options="commune.id as commune.name for commune in returnSelectCommune"
                            required>
                          </select>
                        <div class="error-container" ng-show="(impo_form.freightlocation_return_commune.$dirty && impo_form.freightlocation_return_commune.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.freightlocation_return_commune.$error.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label>Nombre deposito</label>
                        <input
                          type="text"
                          name="withdraw_deposit"
                          placeholder="Nombre o dirección"
                          maxlength="50"
                          ng-model="formData.freightlocation_withdraw_deposit_name"
                          ng-minlength=3
                          ng-maxlength=50
                          required>
                        <div class="error-container" ng-show="(impo_form.withdraw_deposit.$dirty && impo_form.withdraw_deposit.$invalid) || impo_form.submitted">
                          <small class="error" ng-show="impo_form.withdraw_deposit.$error.required">Campo obligatorio</small>
                          <small class="error" ng-show="impo_form.withdraw_deposit.$error.minlength">El numero minimo de caracteres es 3</small>
                        </div>
                    </div>
                </div>
                <!-- #end Destino Contenedor vacio #end -->

