<div id="content-page">
    <div  id="form" class="row">
        <div class="small-9 small-centered columns">
            <div id="content-view">

              <div class="title-page">
                  <h3>Te ayudamos a elegir</h3>
                <h5 class="subheader">Te explicamos en que consiste cada tipo de servicio para que no tengas dudas al momento de publicar carga.</h5>
              </div> <!-- {{! end title page}} -->

              <div class="sub-header">
                  <div class="">
                      <span>Operaciones de transporte</span>
                  </div>
              </div>

              <div class="row ">

                <div class="large-6 columns cotizar-loop">
                  <div class="box">
                    <a href="#/cotizar/importacion">
                      <img src="images/impox2.jpg">
                      <h4>Importación</h4>
                    </a>
                    <p>Transporta tu carga desde un puerto hasta tu planta de recepción.</p>
                    <a href="#/cotizar/importacion" class="go">Publicar ahora</a>
                  </div>
                </div>

                <div class="large-6 columns cotizar-loop">
                  <div class="box">
                    <a href="#/cotizar/exportacion">
                      <img src="images/expox2.jpg">
                      <h4>Exportación</h4>
                    </a>
                    <p>Mueve carga desde tu planta hasta el puerto de embarque.</p>
                    <a href="#/cotizar/exportacion" class="go">Publicar ahora</a>
                    </div>

                </div>

              </div>

              <div class="row ">

                <div class="large-6 columns cotizar-loop">
                  <div class="box">
                    <a href="#/cotizar/domestica">
                      <img src="images/cargax2.jpg">
                      <h4>Carga doméstica</h4>
                    </a>
                    <p>Mueve cargas dentro de Chile desde un punto a otro.</p>
                    <a href="#/cotizar/domestica" class="go">Publicar ahora</a>
                  </div>
                </div>

                <div class="large-6 columns cotizar-loop">
                  <div class="box">
                    <div class="margin">
                      <a href="#/cotizar/contenedor">
                        <img src="images/vaciox2.jpg">
                        <h4>Contenedor vacío</h4>
                      </a>
                      <p>Transporta contenedores vacíos de un depósito a otro.</p>
                      <a href="#/cotizar/contenedor" class="go">Publicar ahora</a>
                    </div>
                  </div>
                </div>

              </div>


            </div><!-- {{! end #content-view}} -->
        </div> <!-- {{! end centered}} -->
    </div> <!-- {{! end #form}} -->
</div> <!-- {{! end content page }} -->

<script>$(document).foundation();</script>
