<div id="content-page">
    <div  id="form" class="row">
        <div class="small-6 small-centered columns">
            <div id="content-view">

                <div id="exito">
                    <br><br><br><br>
                    <i class="fi-check"></i><br><br><br>
                    <h2>Felicidades</h2>
                    <p>Tu cotización fue aceptada, dentro de las proximas horas un ejecutivo de Tucarga se pondra en contacto contigo, por ahora te enviamos un correo con los detalle de tu publicación.</p>
                    <p>Si tienes dudas ponte en contacto con nosotros al:</p>
                    <ul>
                        <li>
                            <i class="fi-telephone"></i>600 500 0606
                        </li>
                        <li class="spacer">&nbsp;</li>
                        <li>
                            <i class="fi-mail"></i>contacto@tucarga.cl
                        </li>
                    </ul>
                    <br><br>
                </div>

            </div><!-- {{! end #content-view}} -->
        </div> <!-- {{! end centered}} -->
    </div> <!-- {{! end #form}} -->
</div> <!-- {{! end content page }} -->


<script>
    $(document).foundation();
</script>
